<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body>
    <header>
        <div class="header_inner">
            <a href="{{ site.baseurl }}/">
                <div class="header_left">
                    <img src="{{ site.baseurl }}/assets/images/logo.png" alt="Logo" class="logo">
                    <p class="header_title">{{ site.title }}</p>
                </div>
            </a>

            <nav class="header_right">
                <a href="https://glite.ai" class="btn_visit_glite" target="_blank" rel="noopener noreferrer">Learn more
                    about Glite</a>
            </nav>
        </div>
    </header>
    <main>
        {{ content }}
    </main>
    <footer>
        <p>&copy; 2025 Glite Tech Ltd.</p>
    </footer>
</body>

</html>